@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

/* shared styles */
.navbar,
.banner,
.card-p {
    max-width: 1160px;
    margin: 0px auto;
}

.hide {
    display: none;
}

/* navigaction */
.navbar {
    margin-top: 20px;
    max-height: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-title {
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
}

.manu>ul {
    display: flex;
}

.manu-list {
    list-style: none;
}

.manu-list>a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

#home>a {
    color: rgb(254, 163, 1);
}

#about>a {
    color: rgb(1, 172, 253);
}

#facilities>a {
    color: rgb(5, 212, 223);
}

#admission>a {
    color: rgb(93, 88, 239);
}

.list-p {
    gap: 30px;
}

.nav-btn {
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    background: rgb(254, 163, 1);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

.menu-icon {
    display: none;
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.title-p {
    max-width: 640px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 122px;
}

#t-1 {
    color: #FEA301;
}

#t-2 {
    color: #111111;
}

#t-3 {
    color: #01ACFD;
}

.banner-desc {
    color: #111111;
    font-size: 1.25rem;
    margin-top: 24px;
}

.banner-btn {
    color: rgb(255, 255, 255);
    padding: 15px 35px;
    background: #111111;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 24px;
}

.banner-img>img {
    width: 100%;
}

/* curriculum */
.curriculum {
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.curriculum-title {
    color: #000000;
    font-size: 2.87rem;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.card-p {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin-top: 80px;
}

.curriculum-card-b {
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-card-o {
    width: 367.8px;
    height: 476.78px;
    text-align: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-card-p {
    width: 367.8px;
    height: 476.78px;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    text-align: center;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.curriculum-img {
    margin-top: 52px;
}

.card-title {
    color: rgb(32, 32, 32);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 32px;
}

.card-desc {
    color: rgb(128, 128, 128);
    font-size: .93rem;
    font-weight: 500;
    margin-top: 33px;
    padding: 0 40px;
}

.card-btn-b {
    color: rgb(100, 200, 255);
    font-size: 0.93rem;
    font-weight: 700;
    border: none;
    background: none;
    margin-top: 38px;
    cursor: pointer;
}

.card-btn-o {
    font-size: 0.93rem;
    font-weight: 700;
    color: rgb(240, 170, 0);
    border: none;
    background: none;
    margin-top: 38px;
    cursor: pointer;
}

.card-btn-p {
    font-size: 0.93rem;
    font-weight: 700;
    color: rgb(135, 0, 255);
    border: none;
    background: none;
    margin-top: 38px;
    cursor: pointer;
}

.arrow-btn {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 80px;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: orange;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrow>img {
    width: 35px;
    height: 35px;
}








@media screen and (max-width:576px) {

    .manu,
    .nav-title,
    .nav-btn,
    .arrow-btn {
        display: none;
    }

    .navbar {
        margin: 12px 16px;

    }

    .divider {
        width: 100%;
        margin-top: 12px;
        box-sizing: border-box;
        border: 0.5px solid rgb(254, 163, 1);
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        cursor: pointer;
    }

    .menu-icon span {
        display: block;
        height: 3px;
        width: 100%;
        background-color: #000;
        border-radius: 2px;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 8px;
        margin-left: 17px;
        margin-right: 17px;
    }

    .banner-img {
        margin: 20px 10px;
    }

    .title-p {
        text-align: center;
    }

    .banner-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 0px;
    }

    .banner-desc {
        font-size: 0.87rem;
        font-weight: 500;
        text-align: center;
        margin-top: 18px;
    }

    .banner-btn {
        padding: 12px 24px;
        font-size: 1rem;
        margin-top: 18px;
    }

    .curriculum-title {
        font-size: 1.6rem;
        margin-top: 40px;
    }

    .card-p {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}